body{
    max-width: 100%;
    position: relative;
    font-family:'Lato', sans-serif;;
}

h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

h2{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}



header{
    width: 100%;
    position: absolute;
    top: 20px;
}

.container{
    max-width: 100%;
    width: 1230px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerNav_hidden{
display: none;
}


.headerNav{
    width: 100%;
    max-width: 432px;
    margin-left: 40px;
}

.headerNav__list{
    box-sizing: border-box;
    display: flex;
    padding: 0;
}

.headerNav__item{
    box-sizing:border-box;
    position: relative;
    margin: 0 10px;
    padding: 10px 0;
}


.headerNav__list a{
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    white-space: nowrap;
}


.headerNav__item:after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #424551;
    transition: all 0.3s;
}

.headerNav__item:hover:after{
    width: 100%;
}

.header__btns{
    display: flex;
    align-items: center;
}

.header__btns button{
    box-sizing: border-box;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 0px 39px;
    background:  #F75E05;
    border-radius: 4px;
    border: 1px solid #F75E05;   
    margin-right: 37px
}
.header__btns button:hover{
    cursor: pointer;
    background:  none;
    color: #F75E05;
}


.header__btns a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header__btns a img{
    margin-right: 10px;
}

.header__btns a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #424551;
    transition: all 0.3s;
}

.header__btns a:hover:after{
    width: 100%;
}

.intro{
    background:url(../img/intro_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.intro__container{
    padding-top: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.intro__play{
    display: inline-flex;
    align-items: center;
}
.intro__play:hover{
    cursor: pointer;
}

.intro__play span{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #1E212C;
}

.intro__title{
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 495px;
    margin: 24px 0 60px 0;
}

.intro__btns-about{
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #F75E05;
    padding: 0 40px;
    border:1px solid #F75E05;
    border-radius: 4px;
    background: none;
    margin-right: 25px;
}

.intro__btns-explore{
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 0 40px;
    border:1px solid #F75E05;
    border-radius: 4px;
    background: #F75E05;
}

.intro__btns-about:hover{
    color: #fff;
    background: #F75E05;
    cursor: pointer;
}

.intro__btns-explore:hover{
    color: #F75E05;
    background: none;
    cursor: pointer;
}

.intro__statistics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 200px;
}

.intro__statistics svg{
    margin:  0 65px;
}

.intro__statistics-counts{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.intro__statistics-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-left: 5px;
}

section.about{
    padding-top: 180px;
}

.about__container{
    margin: 0px auto;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-between;
}

.about_list{
    max-width: 390px;
}

.about__content h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.about__content h2{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin: 8px 0 40px;
}

.about__item{
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 12px;
}


.about__item img{
    margin-right: 15px;
    margin-top: 5px;
}



.about_btn{
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 0 30px;
    border:1px solid #F75E05;
    border-radius: 4px;
    background: #F75E05;
    margin-top: 48px;
}


.about_btn:hover{
    color: #F75E05;
    background: none;
    cursor: pointer;
}


.courses__container{
    padding-bottom: 150px;
}
.courses__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 60px;
}


.courses__top button{
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: 0.5px;
    color: #F75E05;
    padding: 0 30px;
    border:1px solid #F75E05;
    border-radius: 4px;
    background: #fff;
}

.courses__top button:hover{
    color: #fff;
    background: #F75E05;
    cursor: pointer;
}

.courses__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courses__card{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    padding-right: 32px;
    margin-bottom: 30px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.courses__card:hover{
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    cursor: pointer;
}

.courses__cardinfo{
    max-width: 315px;
    margin-left: 32px;
}

.card_link{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 2px 8px;
    border: 0; 
    transition: 1s;
}

.card_link:hover{
    padding: 5px 15px;
}


.marketing{
    background: #03CEA4;
}
.management{
    background: #5A87FC;
}
.recruting{
    background: #F89828;
}
.design{
    background: #F52F6E;
}



.courses__cardname{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin: 20px 0;
}

.courses__price{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
}

.courses__autor{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #787A80;
}


.benefits{
    padding-top: 30px;
    padding-bottom: 140px;
}

.benefits__container{
    text-align: center;
}

.benefits__container h2{
    margin-top: 10px;
}

.tab-content>.active{
    display: flex;
    justify-content: space-between;
}

.benefits__content{
    text-align: left;
    margin-top: 185px;
    max-width: 495px;
}



.benefits__content-title{
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1E212C;
}

.benefits__content-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-top: 25px;
}

.benefits__content-img{
    margin-top: 60px;
}


.nav-tabs {
    border-bottom:none; 
    margin-top: 70px;
}

.nav-tabs .nav-link {
    border-radius: 4px;
    padding: 10px 70px;
    font-weight: 700;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9A9CA5;
}   


.nav-tabs .nav-link.active {
    border: 1px solid #FF3F3A;
    border-radius: 4px;
    color: #FF3F3A;
}

.nav-tabs .nav-link svg {
    margin-right: 9px;
}

.events{
    background: url(../img/events_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.events__container{
    margin: 0 auto;
    text-align: center;
}

.events__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 32px 40px;
    margin-bottom: 25px;
}

.events__container h2{
    margin-bottom: 60px;
}

.events__item:hover{
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.events__day{
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    
}

.events__months{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}
.events__time{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
}

.events__content{
    text-align: left;
    width: 67%;
}

.events_content-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}
.events_content-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
}

.events__item button{
    color: #F75E05;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 30px;
    border-radius: 4px;
    border: 1px solid #F75E05;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.5px;
    height: 44px;
}

.events__item button:hover{
    background-color: #F75E05;
    color: #fff;
}

.events__more{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
    margin-top: 35px;
    display: inline-block;
}


.view_more{
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
    background-color: #F75E05;
    padding: 0 32px;
    border-radius: 4px;
    border: 1px solid #F75E05;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.5px;
    height: 44px;
    margin-left: 40px;
}

.view_more:hover{
    background-color: #fff;
    color: #F75E05;
}

.certificate{
    padding: 120px 0;
    
}

.certificate__container{
    position: relative;
}

.certificate_info{
    max-width: 397px;
}

.certificate_info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin: 48px 0 32px;
}

.certificate_logos{
    display: flex;
    justify-content: space-between;
}

.certificate__example{
    position: absolute;
    right: 0;
    top: 0;
}


.team_and_testimonials{
    padding-top: 165px;
    padding-bottom: 90px;
    background: url(../img/our_team_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.team__slider{
    margin-top: 60px;
}


.team_container{
    position: relative;
}

.slider_block{
    text-align: center;
    max-width: 285px;
    margin-right: 30px;
}

.slider__photo{
    padding: 20px 20px 0 20px;
    border-radius: 4px;
    background: #FFCF2D;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    
}

.slider__photo::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider__photo:hover::before{
    background:  linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.slider__socials{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.slider__photo:hover .slider__socials{
    opacity: 1;
}

.slider__socials a{
    padding: 5px;
    margin-left: 10px;
}

.slider__socials img:hover{
    transform: scale(1.5);
}

.slider__name{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
    margin-top: 16px;
}

.slider__post{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #787A80;
}

.slick-prev{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url(../img/left_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: -20%;
    left: 90%;
}

.slick-prev:focus{
    background: none;
    background-image: url(../img/left_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}  
.slick-prev:hover {
    background: #FF3F3A;
    cursor: pointer;
    background-image: url(../img/left_arrow_white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.slick-prev::before{
    display: none;
}

.slick-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url(../img/right_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: -20%;
    right: 30px;
}

.slick-next::before{
    display: none;
}

.slick-next:focus{
    background: none;
    background-image: url(../img/right_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
} 
.slick-next:hover {
    background: #FF3F3A;
    cursor: pointer;
    background-image: url(../img/right_arrow_white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.slick-next:before, .slick-prev:before {
    display: none;
}




.testimonials_container{
    margin-top: 180px;
    text-align: center;
    position: relative;
}

.testimonials_container h2{
    margin-bottom: 60px;
}


.testimonials_slider
.slick-list {
    width: 84%;
    margin: 0 auto;
}


.testimonials_slider-item{
    background: #FFFFFF;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    padding: 5.2rem 0 5.2rem 8.8rem;
}

.testimonials_slider-text{
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 80%;
    /* margin: 0 auto; */
}

.testimonials_slider-text p{
    font-weight: 400;
    font-size: 1.3333rem;
    line-height: 150%;
    color: #424551;
    padding-left: 2.5rem;
}


.testimonials_slider-author{
    display: flex;
    align-items: center;
    width: 68%;
    margin-top: 2.1rem;
    margin-left: 5rem;
}

.testimonials_slider-name{
    font-weight: 700;
    font-size: 1.3333rem;
    line-height: 160%;
    color: #1E212C;
}

.testimonials_slider-info{
    margin-left: 20px;
}

.testimonials_slider-city{
    font-weight: 400;
    font-size: 1.1667rem;
    line-height: 150%;
    color: #787A80;
}


.testimonials_slider
.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
}

.testimonials_slider
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
}


.slick-dots{
    bottom: -60px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 12px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 0px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 30px;
    height: 0px;
    border: 1px solid #B3B7BC;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.slick-dots li.slick-active button:before {
    opacity: 1;
    border: 1px solid #424551;
}




.blog_container{
    padding: 120px 0 180px;
}

.blog__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blog__title button{
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.5px;
    background: #F75E05 ;
    border-radius: 4px;
    border: 1px solid #F75E05;
    color: #FFFFFF;
    padding: 0 40px;
}

.blog__title button:hover{
    background: none ;
    border: 1px solid #F75E05;
    color: #F75E05;
}

.blog__articles{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    
}

.blog__item{
    max-width: 31.7%;
    position: relative;
}

.blog__item-type{
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0 8px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.blog__item-type span{
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}

.blog__item img{
    max-width: 100%;
}

.blog__item-info{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.blog__item-info-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;  
    color: #787A80;
}

.blog__item-info>:nth-child(1n+1){
    margin-right: 10px;
}

.blog__item-time{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.blog__item-text{
    text-align: left;
}

.blog__item-text>:nth-child(1){
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.blog__item-text>:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin: 8px 0 16px;
}

.blog__item a{
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    position: relative;
    padding: 10px 10px 10px 0;
}

.blog__item a img{
    margin-left: 10px;
}

.blog__item a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #424551;
    transition: all 0.3s;
}

.blog__item a:hover:after{
    width: 100%;
}


.subscribe{
    background: rgba(247, 94, 5, 0.2);
    position: relative;
}


.subscribe_container{
    padding: 120px 0 180px;
    text-align: center;
}

.subscribe_container h3{
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
}


.subscribe_container h2{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.subscribe input{
    width: 422px;
    height: 50px;
    padding: 15px;
    margin-right: 25px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    color: #9A9CA5;
}


.subscribe input::placeholder{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
}

.subscribe button{
    font-weight: 700;
    padding: 0 40px;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #F75E05;
    border: 1px solid #F75E05;
}


.subscribe_left{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 16%;
}

.subscribe_right{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 16%;
}
footer{
    background: #1E212C;
}

.footer__container{
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__content{
    max-width: 280px;
}

footer p{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 25px 0;
}

.footer_icons a{
    box-sizing: border-box;
    margin-right: 20px;
}

.footer__icon{
    
    fill: #fff;
    opacity: 0.3;
    transition: 0.3s;
}
.footer__icon:hover{
    opacity: 1;
    transform: scale(1.2);
}


.footer__list{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.footer__list a{
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    transition: 0.3s;
}

.footer__list a:hover{
    opacity: 1;
}

.footer__list li{
    margin: 8px 0;
}

.footer__list svg{
    margin-right: 8px;
}

.sign_up{
max-width: 286px;
}

.sign_up p{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 0;
}

.sign_up_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    height: 36px;
    max-width:100%;
}

.sign_up_form input{
    padding: 0 10px;
    border: none;
    background: none;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}


.sign_up_form button{
    border: none;
    background: none;
    margin-right: 10px;
}


p.sign_up_text{
    text-transform: none;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 12px;
}

.footer__bottom{
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


.footer__bottom .container p{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0;
}


.footer__bottom .container a{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    text-transform: uppercase;
    transition: 0.3s;
}

.footer__bottom .container a:hover{
    opacity: 1;
}